{% extends 'mealbase.html' %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2><em>{{ mealplan.name }}</em> - {{ mealplan.date }}</h2>
    {% comment %} <h3>by: {{ tag.author | default_if_none:"Unknown" }}</h3> {% endcomment %}
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
